.audioPlayer {
  border-radius: 48px;
  background: #eaf0fa;
  width: 352px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 12px 19px;
  position: absolute;
  top: 9px;
  right: 40px;
  z-index: 5;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
}

.timeDisplay {
  width: 40px;
  text-align: end;
}
.playButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #002cfb;
  margin-left: 12px;

  &:disabled {
    background-color: transparent;
    color: rgba(173, 191, 223, 1);
  }
}

.progressBarContainer {
  width: 163px;
  height: 4px;
  background: #adbfdf;
  border-radius: 50px;
  margin: 0 15px 0 8px;
  cursor: pointer;
  position: relative;
}

.progressBar {
  height: 100%;
  background: #007bff;
  transition: width 0.2s;
}

.loadButton {
  color: rgba(173, 191, 223, 1);
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 13px;
  height: 16px;
  &:hover {
    color: #002cfb;
  }
}

.closeButton {
  color: rgba(173, 191, 223, 1);
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 13px;
  height: 16px;
  margin-left: auto;
  &:hover {
    color: #002cfb;
  }
}
